$color-charcoal:   #2c233e;
$color-maroon:     #572a4d;
$color-rosewater:  #cb9a9f;
$color-tan:        #d07669;
$white-color:      #fff;
$border-color:     #E5E7EB;
$text-color:       #4A5565;
$background-color: #F9FAFB;
$success-color:    #DCFCE7;
$error-color:      #FFE2E2;
$warning-color:    #FEF9C2;
