.authenticated-layout{
    .navigation-drawer{
        background-color: #1dc100;

        .desktop-drawer{
            background-color: #2c233e;
            .navigation-drawer-content{
                background-color: #C10007;
            }

        }
    }
}
