@use '../abstracts/mixins' as *;

.btn{
    border-radius: 14px;
    text-align: center;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

    &.btn-primary {
        @include primary-btn;
    }

    &.btn-secondary {
        @include secondary-btn;
    }

    &.btn-outline{
        @include btn-outline
    }
}
